
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}
/* html {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
} */
input{
  background-color: black;
  opacity: .732;
  border: none;
  color: #ccff33;
  font-family: 'Orbitron', sans-serif;

}
.container {
  display: none;
}
#neowHeader{
  font-family: 'Orbitron', sans-serif;
  opacity: .732;
  color: #ccff33;
  text-align: center;

}
.neowsForm{
  text-align: center;
}
button {
  color: #ccff33;
  background-color: transparent;
  border: none;
  font-family: 'Orbitron', sans-serif;
  opacity: .732;
}
#hubbleCard{
  background-color: black;
  opacity: .6;
  font-family: 'Orbitron', sans-serif;
  color: white;
}
#archiveCard{
  opacity: .6;
  background-color: black;
  text-align: center;
}
.archive h5{
  padding-top: 15px;
  font-family: 'Orbitron', sans-serif;
  color: white;

}
.title{
  padding-top: 15px;
  font-family: 'Orbitron', sans-serif;
  color: #ccff33;
}
#hubbleNews h1{
  font-family: 'Orbitron', sans-serif;
  color: #ccff33;
  text-align: center;
  opacity: .732;

}
#issTracker h1{
  font-family: 'Orbitron', sans-serif;
  color: #ccff33;
  text-align: center;
  opacity: .732;
}
.archive a{
  font-family: 'Orbitron', sans-serif;
  color: white;
  color: #ccff33;
}

#sentryCard, #neowCard {
  opacity: .4;
  width: 500px;

}

.card-body {
  background-color: black;
  color: #ccff33;
}

#sentry-results p, #neow-results p {
  color: #ccff33;
}
#issTracker .card {
  display: block;
  background-color: transparent;
  color: #ccff33;
  margin-left: 21%;
  margin-top: 10%;
  opacity: .732;

}
#marsWeather {
  background-color: transparent;
  color: #ccff33;
  text-align: center;
  align-items: center;
  opacity: .732;
}

.hnb {
  display: block;
  margin-left: 88%;
  margin-top: 36%;
  position: absolute;
  transform: rotate(10deg);
}

.hb {
  display: block;
  margin-left: 6%;
  margin-top: 10%;
  position: absolute;
  transform: rotate(-43deg);
}
.mwb {
  display: block;
  margin-left: 12%;
  margin-top: 35%;
  position: absolute;
  transform: rotate(-10deg);
}

#mwRow {
  margin-top: 10%;
}
.isb {
  display: block;
  margin-left: 47.79%;
  margin-top: 38%;
  position: absolute;

}
.nbp{
  display: block;
  margin-left: 32%;
  margin-top: 44%;
  position: absolute;
}

.dbp{
  display: block;
  /* float:left; */
  margin-left: 62%;
  margin-top: 44%;
  position: absolute;

}
#imageR {
  width: 400px;
  opacity: .5;

}

.space {
display: block;
margin-left: 32%;
margin-right: auto;
width: 50%;
text-align: center;
}

#disclaimer {
  color: gray;
  font-size: 12px;
}
.jumbotron {
  background-color: transparent;
}

.strong {
  font-weight: bold;

}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

img {
  float: left;
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.title {
  font-weight: bold;
  margin-left: 16px;
}

.archive .card {
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px black;
  margin-top: 20px;
  padding-bottom: 10px;
}

h5 {
  font-size: 14px;
}
