
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: none;
}
#imageR {
  width: 800px;
}
p {
  color: gray;
  font-size: 12px;
}
.jumbotron {
  background-color: transparent;
}

.strong {
  font-weight: bold;

}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

img {
  float: left;
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.title {
  font-weight: bold;
  margin-left: 16px;
}

.archive .card {
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px black;
  margin-top: 20px;
  padding-bottom: 10px;
}

h5 {
  font-size: 14px;
}
